<%- include('partials/head.ejs') %>
</header>
<div class="ayuda">
    <div class="fotoA">
        <h2>HOGAR DE TRÁNSITO</h2>
    </div>
    <div class="hogar">
        <h3> Red de hogares de transito:</h3>
        <p>Quizás no puedas adoptar un animal de compañía de forma definitiva pero sí brindarle un lugar por un periodo de tiempo corto a un animal en tratamiento hasta su recuperación o a dos o más cachorros hasta su adopción definitiva. Justamente se trata de eso, de un hogar responsable que lo pueda cuidar transitoriamente.</p>
        <h5>Sumate a la Red de Hogares de Transito de AMIGOS, estos son los requisitos:</h5>

<div class="req">
    <div>
        <div class="li">
        </div>
        <p>Vivir en Córdoba, Capital .</p>
    </div>
    <div>
        <div class="li">
        </div>
        <p>No tener otros cachorros en la vivienda.</p>
    </div>
    <div>
        <div class="li">
        </div>
        <p>Tiempo mínimo de estadía: 2 semanas.</p>
    </div>
</div>
</div>
<p>AMIGOS se hace cargo de todos los gastos durante el periodo de permanencia de los animales en el hogar.</p> 
<p>Si queres ser voluntario , contactate con nosotros por <a class="subr" href="mailto: amigos@gmail.com">acá</a>.</p>
</div>
<%- include('partials/footer.ejs') %>



