<%- include('partials/head.ejs') %>
    <div class="hero">
        <div class="titulo">
            <h2>Encuentra a tu mejor amigo!</h2>
        </div>
        <div class="videoFondo">
            <video muted autoplay loop>
                <source src="/assets/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    </header>
    <main>
        <h3>Los amigos de verdad no se compran..</h3>
        <div class="info2">
            <div class="carousel-wrapper">
                <div class="carousel-container">
                    <div class="carousel">
                        <div class="image-one"></div>
                        <div class="image-two"></div>
                        <div class="image-three"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="info2 col-md-4 col-xl-3">
                        <img class="imagen" src="/assets/perro.png" alt="perro">
                        <div class="card2 bg-c-blue order-card">
                            <div class="card-block">
                                <p class="pInfo">Adoptá a un amigo y sé muy feliz con su compañia!</p>
                            </div>
                        </div>
                    </div>
                    <div class="info2 col-md-4 col-xl-3">
                        <div class="card2 bg-c-green order-card">
                            <div class="card-block">
                                <p class="pInfo">Sé voluntario para ayudar a los
                                    amigos sin casa!</p>
                            </div>
                        </div>
                        <img class="imagen" src="/assets/gata.png" alt="gata">
                    </div>
                    <div class="info2 col-md-4 col-xl-3">
                        <img class="imagen" src="/assets/chanchito.png" alt="chanchito">
                        <div class="card2 bg-c-yellow order-card">
                            <div class="card-block">
                                <p class="pInfo">Si conoces o tenes un amigo que necesita hogar, contactanos!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('partials/footer.ejs') %>