<%- include('partials/head.ejs') %>
    <div class="form">
        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="card3">
                    <div class="login-box">
                        <div class="login-snip">
                            <label for="tab-2" class="tab">INGRESO</label>
                            <div class=" login-space">
                                <form action="/ingresar" method="POST" class="login">
                                    <div class="group"> <label for="user" class="label">Usuario</label> <input id="user"
                                            type="text" name="username" class="input" placeholder="Ingresa tu usuario"
                                            required>
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Contraseña</label> <input
                                            id="pass" type="password" name="password" class="input" data-type="password"
                                            placeholder="Ingresa tu contraseña" required>
                                        <p class="errorP">
                                            <%= error %>
                                        </p>
                                    </div>
                                    <div class="group"> <input type="submit" class="button" value="INGRESAR"> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fondo1"></div>
    </div>

    </header>
    <%- include('partials/footer.ejs') %>