<%- include('partials/head.ejs') %>

    <div class="form">
        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="card3">
                    <div class="login-box">
                        <div class="login-snip">
                            <label for="tab-2" class="tab">REGISTRO</label>
                            <div class="login-space">
                                <form action="/registro" method="POST" class="sign-up-form">
                                    <div class="group"> <label for="user" class="label">Usuario</label> <input id="user"
                                            type="text" class="input" name="username" placeholder="Crea tu usuario">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Contraseña</label> <input
                                            id="pass" type="password" name="password" class="input" data-type="password"
                                            placeholder="Crea tu contraseña">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Email</label> <input id="pass"
                                            type="text" class="input" name="email" placeholder="Ingresa tu email">
                                        <p class="errorP">
                                            <%= error %>
                                        </p>
                                    </div>
                                    <div class="group"> <input type="submit" class="button" value="REGISTRARME">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fondo"></div>
    </div>


    </header>
    <%- include('partials/footer.ejs') %>