<%- include('partials/head.ejs') %>
</header>
<div class="requisitos">
  <div>    
    <h2>REQUISITOS ADOPCIÓN</h2>
    <p> Adoptar es un acto de responsabilidad y compromiso por lo que es importante que estes capacitado para hacerlo. Un perro puede vivir entre 14 y 18 años y durante todo ese tiempo dependerá de vos.</p>
 
 <p>Algunas cuestiones para tener en cuenta son el espacio disponible de tu casa, el tiempo que tengas para brindarle compañía, actividad física y cuidado. También los costos asociados a su alimentación, atención veterinaria y estadía durante tus vacaciones.
 </p>
 <p>Para asegurarte una convivencia feliz tu elección debe estar orientada al estilo de vida que llevas y el tiempo real que le podes dedicar.</p>
  </div>
  <div class="adoptar"></div>
</div>
<h3 class="r">Te damos algunos tips, pero lo más importante es adoptar con conciencia y con el corazón.</h3>
<div class="requisitos2">
<div class="cajita">
  <p><span>Un cachorro: (45 días-12 meses) </span> es precioso pero, requiere de mucho tiempo y esfuerzo. Come 4 veces al día, puede llorar por las noches y en las ausencias de los dueños. Mastica objetos, hace pis y caca en cualquier lado, requiere educación y paciencia, es un bebe durante un año. Sin embargo es muy satisfactorio ir viendo el crecimiento y desarrollo de un cachorrito hasta convertirse en adulto.</p> <img src="https://i.postimg.cc/5yDjC55f/Dise-o-sin-t-tulo-3.gif" alt="foto" width="100">
</div>
<div class="cajita">
  <img src="https://i.postimg.cc/Gm8VKFkZ/Dise-o-sin-t-tulo-4.gif" alt="foto" width="100">
  <p><span>Un joven: (1 año-5 años) </span> es juguetón pero más adulto. Son más hábiles para centrarse en la educación. Generalmente ya está con la vacunación completa, lo que no hay riesgo de contraer alguna enfermedad. Están esterilizados. Ya se puede sacarlo a pasear y bañarlo. Come dos veces al día. Ya tiene el tamaño definitivo, no cambiara de aspecto.</p> 
</div>
<div class="cajita">
  <img src="https://i.postimg.cc/Twpt2GCB/Dise-o-sin-t-tulo-5.gif" alt="foto" width="100">
  <p> <span>Un adulto: (5 años-9años)</span> no genera problemas por quedarse algunas horas solo. Es probable que duerma toda lo noche. Se habitúa fácilmente a su nueva familia. Aceptan su sitio dentro de la jerarquía del hogar, se adaptan a órdenes básicas, si es que no las tienen adquiridas de antes. Se muestran gratificantes y toman mucho cariño a su nueva familia y casa.</p> 
</div>
<div class="cajita">
  <p> <span>Un abuelo: (10 años-día de su muerte)</span> nos dejan muchísimo tiempo para nosotros. No requieren tanto trabajo. Son muy calmos y sedentarios. Aunque el tiempo de compañía es seguramente menor, también se merecen un hogar. Podemos darle durante los años que le quedan una vida digna y agradable. Estarán súper agradecidos, esperaron su hogar mucho tiempo.</p> <img src="https://i.postimg.cc/wjkzLcgg/Dise-o-sin-t-tulo-6.gif" alt="foto" width="100">
</div>


</div>
<p class="pp">Si ya lo decidiste y te sentís capacitado, es momento de comenzar con el proceso de adopción. Contactanos por <a class="subr" href="mailto: amigos@gmail.com">acá!</a></p>
<%- include('partials/footer.ejs') %>